{% block block_index %}

   WELLCOME TO THE MVT_PROJECT

   <br><br>
   <a href="/admin">
        <button class="btn btn-primary" type="submit">Admin</button>
   </a>

   <br><br>

   <a href="/mvt_app/view_clients">
        <button class="btn btn-primary" type="submit">View Clients</button>
   </a>

   <br><br>
   <a href="/mvt_app/add_clients">
      <button class="btn btn-primary" type="submit">Add Clients</button>
   </a>

   <br><br>

   <a href="/mvt_app/view_services">
      <button class="btn btn-primary" type="submit">View Services</button>
   </a>

   <br><br>

   <a href="/mvt_app/staff">
      <button class="btn btn-primary" type="submit">View Staff</button>
   </a>

   <br><br>

   <a href="/mvt_app/add_staff">
      <button class="btn btn-primary" type="submit">Add Staff</button>
   </a>

   <br><br>

   <a href="/mvt_app/search">
      <button class="btn btn-primary" type="submit">Search</button>
   </a>

   <br><br>

{% endblock  %}