<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT</title>
</head>
<body>
   WELLCOME TO THE MVT_PROJECT

   <br><br>
   <a href="/admin">
        <button class="btn btn-primary" type="submit">Admin</button>
   </a>

   <br><br>

   <a href="/mvt_app/clients">
        <button class="btn btn-primary" type="submit">View Clients</button>
   </a>

   <br><br>
   <a href="/mvt_app/add_clients">
      <button class="btn btn-primary" type="submit">Add Clients</button>
   </a>

   <br><br>

   <a href="/mvt_app/services">
      <button class="btn btn-primary" type="submit">View Services</button>
   </a>

   <br><br>

   <a href="/mvt_app/staff">
      <button class="btn btn-primary" type="submit">Staff</button>
   </a>

   <br><br>

   <a href="/mvt_app/add_staff">
      <button class="btn btn-primary" type="submit">Add Staff</button>
   </a>

   <br><br>

   <a href="/mvt_app/search">
      <button class="btn btn-primary" type="submit">Search</button>
   </a>

   <br><br>
    

       
</body>
</html>